@tailwind base;
@tailwind components;
@tailwind utilities;

.next-btn {
  @apply text-blue disabled:text-disable py-[6px] px-2 font-bold text-lg;
}
.broad-btn {
  @apply block text-center px-3 py-[14px] w-full border-[1.2px] rounded-lg border-[#C6C6C6] bg-white font-medium hover:border-blue hover:font-bold hover:text-blue;
}

.card {
  @apply flex flex-col justify-center mx-auto relative w-[270px] h-[375px];
  transform-style: preserve-3d;
  transform: perspective(500px);
  transition: all 0.5s;
}

.card-front,
.card-back {
  @apply absolute flex justify-center w-full h-full bg-cover bg-center bg-no-repeat;
  backface-visibility: hidden;
}

.card-front {
  @apply items-end;
}

.card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
